<p style="text-align: center;">

<big><big><big><b>FBA - Week 01b - Python Practice</b></big></big></big>
</p>

In this session we will aim to get comfortable with using the lab computers, introducing Jupyter notebooks and show how it is used for Python programming. We won’t be using actual program files in this tutorial, but just testing out/getting a feel for python commands in its “interactive mode”.

What is Programming:
Television shows and films often show programmers furiously typing cryptic streams of 1s and 0s on glowing screens, but modern programming isn’t that mysterious. Programming is simply the act of entering instructions for the computer to perform. These instructions might crunch some numbers, modify text, look up information in files, or communicate with other computers over the Internet.

What do we need for it:
A language that defines a set of words and rules that we are going to learn this semester to send instructions to the computer [Python]

A development environment, to type in our language instructions, execute them and look at the results [Jupyter Notebooks]

A language interpreter, that converts our written Python code into ‘machine code’ and vice versa. [Python Interpreter]

Jupyter Notebooks are simply a convenient graphical interface to write and execute Python code. However, there are a lot of other development environments such as IDLE - “the Python Integrated Development Environment”, ECLIPSE, VIM, emacs... and even online versions such as the one at repl.it (please feel free to try any of these - have a look at https://repl.it for example).

Python interactive mode
Python has two basic modes: script and interactive. The script mode is the mode where a script (i.e. a succession of commands) is run in the Python interpreter until it finishes and outputs results (on the screen, in a file, on a plot, ...). On the other side the interactive mode gives immediate feedback for each statement which is a good way to play around and try variations on syntax.

Like a calculator
Typing mathematical operations in the Python interactive mode is very much like using a calculator so let's experiment with that.

Type a mathematical operation of your choice in the box below and execute it by pressing or the 'Run' button at the top of the screen or using the 'Shift' + 'Enter' keyboard shortcut.

You should see the result of your operation next to the 'Out [..]' line.

## This practical focuses on the concepts of:
1. Mathematical Operators
2. Strings
3. Data types & Casting
4. Variables
5. Core functions
6. Introduction to if statements

<hr/>
To get started, let's refresh our minds with a simple addition

In [1]:
# Press 'Run' or 'Shift'+'Enter' to run the code and visualise the output
2+2

4

Let's now practice our operators and their prevalence by computing the value of the following fraction:

$$\frac{(27+3)*10}{2^4-1}$$

In [2]:
# Your code here

20.0

## Integer

Create a variable a and assign it the value of 27

In [3]:
# Your code here

Check the type of the variable a

In [4]:
# Your code here

int

## Float
Create a variable b and assign it the value of 3.0

In [5]:
# Your code here

Check the type of the variable b

In [6]:
# Your code here

float

## String
Create a variable c and assign it the value of 'three'

In [7]:
# Your code here

Check the type of the variable c

In [8]:
# Your code here

str

## Casting to a different data type

Using the casting functions str(), int(), float() try to case your variables a, b and c to different data types, experiment what works and what doesn't.

## Towards scripting

You can write multiple instructions in the same 'code' cell to build small blocks of logics. Here is an example:

In [10]:
a = 2
b = 1
c = a + b
print(c)

3

Following the same principle, do the following actions all in the same 'code' cell:
- Create a variable x and assign it the value 27
- Create a variable y and assign it the value 3
- Create a variable n and assign it the value 4
- Create a variable z and assign it the value of:
$$z=\frac{(x+y)*10}{2^n-1}$$
- Print the value of z

In [11]:
# Your code here

20.0

You can now change the value of any of our parameters and compute the new value of our variable z.

## Capturing the user input

Capture the user's input using the function input() and store the value in a variable.

In [12]:
# Your code here

20

Print on the screen the value that the user has entered and check its type

In [13]:
# Your code here

The user entered: 20
The type of user_input is <class 'str'>

# Our first program

Let's write a program that ask the user to enter its name, then its age and finally display the sentence:

***Your name is [...], and you are [...] years old*** 

(replace the [...] by the values entered by the user)

In [14]:
# Your code here

Jane
18
Your name is Jane, and you are 18 years old

Let's now slightly modify our program so that it now displays how old you will be next year (the program will still ask the **current** age of the user):

***Your name is [...] and you will be [...] next year***

In [15]:
# Your code here

Jane
18
Your name is Jane and you will be 19 next year


# You have got an ice cream van

Last year, you were looking to invest in a business in UNNC and decided to take over an ice cream van business.

Before the take over, the van was selling ice creams in city centre and reported the following sales:

|<i></i>|  January | February | March | April | May | June | July | August | September | October | November | December|
|-|-|-|-|-|-|-|-|-|-|-|-|-|
|2015|¥1000|¥1100|¥1200|¥1300|¥1400|¥1500|¥1500|¥1400|¥1300|¥1200|¥1100|¥1000|
|2016|¥1100|¥1200|¥1300|¥1400|¥1500|¥1600|¥1600|¥1500|¥1400|¥1300|¥1200|¥1100|

Make good use of variables, it will avoid you typing repeatedly the same numbers !

**<font color=green><font size=5>&rarr;</font> What was the total revenue for year 2015 ?</font>**

In [16]:
# Your code here

The revenue in 2015 was £15000

**<font color=green><font size=5>&rarr;</font> What was the total revenue for year 2016 ? (pay attention to the symmetry of sales, there is a tip to reduce the amount of typing!)</font>**

In [17]:
# Your code here

The revenue in 2016 was £16200

**<font color=green><font size=5>&rarr;</font>  What was the average monthly income for year 2016? (reuse variables!)</font>**

In [18]:
# Your code here

The average monthly income in 2016 was £1350.0

**<font color=green><font size=5>&rarr;</font> What was profit increase (%) of the business between 2015 and 2016?</font>**

In [19]:
# Your code here

The revenue increased by 8.00% between 2015 and 2016.

**<font color=green><font size=5>&rarr;</font> It is expected that the business will continue to grow at the same pace, what total revenue should you expect for year 2017?</font>**

In [20]:
# Your code here

The expected revenue for 2017 is ¥17496.0


### The harsh reality
At the end of 2017, your ice cream van reported the following sales earned from UNNC for the year:

|<i></i>| January | February | March | April | May | June | July | August | September | October | November | December|
|-|-|-|-|-|-|-|-|-|-|-|-|-|
|2017|¥500|¥1600|¥1700|¥1800|¥1900|¥500|¥500|¥500|¥1800|¥1700|¥1600|¥500|

**<font color=green><font size=5>&rarr;</font> What was the actual revenue for 2017?</font>**

In [21]:
# Your code here

The revenue in 2017 was ¥14600

**<font color=green><font size=5>&rarr;</font> Using a if statement, compare the actual revenue for 2017 to the expected one and print whether 'You have over performed' or 'You have under performed'</font>**

In [22]:
# Your code here

You have under performed

**<font color=green><font size=5>&rarr;</font> How much of a loss (in %) does this actual revenue represent compared to the expected revenue?</font>**

In [23]:
# Your code here

The loss compared to the expected revenue for 2017 is -16.55235482395976%

# Challenge

 Let's first consider the 7 months where the ice cream van is performing better in UNNC compared to the city centre and keep that successful side of the business as it is. We now want to find what minimum monthly sale for the 5 'under-performing' months we need to make to reach our expected revenue for 2017.
    
**<font color=green><font size=5>&rarr;</font> Write a program that ask the user to input a monthly sale value for the 5 'under-performing' months and print back whether 'You would be in profit!' or 'You would still be in deficit!' with that value</font>**

In [24]:
# Your code here

12100

In [25]:
# Your code here

700
You would still be in deficit!