
# FBA Tutorial 7b - Python Revision + Sklearn

The aim of this tutorial is to cover a number of important concepts we have learned so far in view of the upcoming test. You will be writing loops, functions, conditions as well as creating lists and dictionaries. 

After that we will focus on the use of libraries to ease our task, starting with Pandas to load and pre-process our data before moving to Sklearn to do our first machine learning task in Python, a linear regression!

As in the previous tutorial, we will be using the **admissions.csv** file (available from the moodle page). This file describes people who are applying for a postgraduate degree at a US university, and indicates 3 relevant features about an applicant… as well as whether they got into to the masters or PhD course they were applying for when they were selected by hand (note that if we were doing a full analytics project, this would be our target class!):

* The dataset has a binary output feature (i.e. dependent variable) called "admit". 
* There are three predictor variables: gre, gpa and ranking. 
* Variables gre (a exam result score) and gpa (the person’s grade point average) are continuous.
* The variable ranking takes on the values 1 through 4. Institutions with a rank of 1 have the highest prestige, while those with a rank of 4 have the lowest. 

Let's get started, first by doing a lot of the grunt work ourselves!

### A little tip for when you develop a new function

In [0]:
# When you write a new function definition you can
# add some function calls just after to check how 
# it behaves with some expected values
def my_sum(a, b):
    return a + b

print(my_sum(0, 2))
print(my_sum(-3, 1))
print(my_sum(4, 6))

2
-2
10

### Step A1 - Write a function to count the number of lines in a file

You function will take a parameter **filename** containing the path of the file to open and read. It will return the number of lines in the file.

401

### Step A2 - Loading the data manually

Our goal is to write ourselves a data loader for the file **admissions.csv**. To do that, we are going to go, step by step. The first step is to write a function that can process one line of our file (e.g. *'0,380,3.61,3'*)  and transform it into a dictionary.

Write a function **data_to_dict( )** with the following requirements:
- Parameter: txt (type string)
- Purpose : The function should create a new dictionary containing the keys **admit**, **gpa**, **gre** and **ranking**, and populated from the string passed as a parameter. You will need to manipulate the string to extract the different values. We also want to transform the admit value to True when it is equal to 1 and False when it is equal to 0 so that we have a boolean type. For the other fields, use the data types that you feel are the most appropriate.
- Returns: The populated dictionary

In [0]:
print(data_to_dict('0,380,3.61,3')) # You should have: {'admit': False, 'gre': 380, 'gpa': 3.61, 'ranking': 3}
print(data_to_dict('1,640,3.19,4')) # You should have: {'admit': True, 'gre': 640, 'gpa': 3.19, 'ranking': 4}

{'admit': False, 'gre': 380, 'gpa': 3.61, 'ranking': 3}
{'admit': True, 'gre': 640, 'gpa': 3.19, 'ranking': 4}

### Step A3 - Collating our data

We now have a function that can take a line of our **admissions.csv** file and return us a nicely populated dictionary. If we do that for all the lines, we can create a list containing all these dictionaries and have our data structured. Let's give it a go!

***As always, check what the text file your are trying to load is looking like. It is extremly common for first few lines to have a different structure that you will need to accomodate for (or discard). (TIP: you can use array indexes or a counter for example to skip specific lines)***

### Step A4 - Computing some means

You should now have a list containing 400 dictionaries. As our data is nicely structured, we can fairly easily compute the mean GRE and mean GPA. That's a good practice for the test!

Mean GRE : 587.7
Mean GPA : 3.3899000000000017

# Using Pandas, Numpy and Sklearn this time!

### Step B1 
Using the **pandas** library and its **read_csv()** function, load the data of the file **admissions.csv** into a DataFrame.

### Step B2

This should become a good habit, each time you load new data, check that it has been loaded correctly using the **head()** method.

   admit  gre   gpa  ranking
0      0  380  3.61        3
1      1  660  3.67        3
2      1  800  4.00        1
3      1  640  3.19        4
4      0  520  2.93        4

### Step B3

Let's start by checking (using **Pandas** methods this time) that the mean GRE and GPA corresponds to what we have computed manually in the previous section!

587.7
3.3899000000000017

### Step B4 - Updating a column

For clarity we want to replace the values of the column admit to True if it is equal to 1 or False if it is equal to 0. For this, you will need to use the **loc( )** method from **Pandas**.

In [0]:
# It is always good to check your operation
# had the expected output!
df.head()

   admit  gre   gpa  ranking
0  False  380  3.61        3
1   True  660  3.67        3
2   True  800  4.00        1
3   True  640  3.19        4
4  False  520  2.93        4

### Step B5 - An overview of our data

You probably remember from last week's tutorial, you can easily obtain a basic statistical summary of your data using the **describe( )** method.

              gre         gpa    ranking
count  400.000000  400.000000  400.00000
mean   587.700000    3.389900    2.48500
std    115.516536    0.380567    0.94446
min    220.000000    2.260000    1.00000
25%    520.000000    3.130000    2.00000
50%    580.000000    3.395000    2.00000
75%    660.000000    3.670000    3.00000
max    800.000000    4.000000    4.00000

### Step B6 - An overview of a slice of your data

If we are interested to find the effect of **ranking** on the other variables, it can be interesting to obtain a statistical summary on a subset of our data. In our case, we can use the method **describe()** on the data subset for a specific ranking (e.g. what is the statistical summary when the ranking is 1? and 4? any differences?)

              gre        gpa  ranking
count   61.000000  61.000000     61.0
mean   611.803279   3.453115      1.0
std    120.242924   0.390698      0.0
min    340.000000   2.420000      1.0
25%    540.000000   3.200000      1.0
50%    600.000000   3.530000      1.0
75%    700.000000   3.730000      1.0
max    800.000000   4.000000      1.0

### Step B7 - Number of student applications per ranking category

Remember that Pandas has a function ready made for you to do that, it was part of last week's lecture!

2    151
3    121
4     67
1     61
Name: ranking, dtype: int64

### Step B8 - Admission rate (percentage) per ranking category

This time we want to compute the admission rate (in percentage) for each ranking category (i.e. 1, 2, 3 and 4). We just want to print these percentages to the screen.

In schools of rank 3 the admission rate is 0.23140495867768596
In schools of rank 1 the admission rate is 0.5409836065573771
In schools of rank 4 the admission rate is 0.1791044776119403
In schools of rank 2 the admission rate is 0.3576158940397351

### Step B9 - Pearson Correlation

Ok let’s now start exploring the data with a model. Pearson Correlation is the key factor in a linear regression - the further it is from zero the stronger the linear relationship (even though we all know now, that linear relationships certainly don’t tell the whole story). Let’s use numpy to find that correlation:

In [0]:
import numpy as np

r = np.corrcoef(df.gpa, df.gre)
print(r)

[[1.         0.38426588]
 [0.38426588 1.        ]]

As you can see, you get a matrix output (you can check the type using **print(type(r))** if you want). The only score that matters is the first line, second column (or second line, first column which is the same)  - that’s the correlation between the variables we care about.. Given that this number is part of a matrix (ndarray), try to extract it using **Numpy** indexes.

<class 'numpy.ndarray'>
0.38426587802084894

More than numbers, data analysts need to understand what they mean. You have now obtained a number for the Pearson Correlation of our two variables. What do you think of this correlation? Is it correlation strong, low or medium?

### Step B10 - Importing Sklearn

This is still just a descriptive correlation score and won’t actually help us predict anything. To actually try and predict someone’s GRE exam score from their GPA average we need a linear model. You have seen that it can easily be done using **Orange** with a graphical interface. It is almost as easy in Python thanks to the **sklearn** library, so let's give it a go!

The first step is to import the library using the **from** *module* **import** *submodule* syntax. From the library **sklearn** we want to import the submodule **linear_model**, try to write that import statement.

### Step B11 - Create our features

It’s a tradition from the olden days of yore, when people still used punchcards to program computers, that when we create predictive models we always call our input features “X” and our output features “Y”. So let’s just quickly do that, we have a DataFrame containing our data from which we want to extract **gpa** (our input feature) and **gre** (our ouput feature) and store them respectively in variables **X** and **Y**.

In [0]:
X = df[['gpa']]
Y = df[['gre']]

Note that this time we don’t just use data.gpa to extract the field’s data. This is because we want it in the form of a matrix (and not a vector, which is what data.gpa would give us). If you want to see the difference try following code:

In [0]:
print(df.gpa.shape)
print(df[['gpa']].shape)

(400,)
(400, 1)

When you run this you will see that data.gpa only has one dimension (it is a vector), whereas our new version has two dimensions (albeit being a matrix with only one row in it!). The difference is subtle but just trust me for now - this means it will be in the perfect format ready to feed to sklearn as it uses matrices.

### Step B12 - Linear Regression

Create a linear regression model, not by dropping on a widget like Orange... but by typing the following couple of lines:

In [0]:
model = linear_model.LinearRegression()
model.fit(X,Y)
print(model.coef_, model.intercept_)

[[116.63935631]] [192.30424605]

Et voila.  Job done. The first line creates an ‘empty’ model ready for us to train. The second line does the training by finding the correct line that ‘fits’ the data. The final line prints out the $m$ and the $c$ in the equation $y = mx+c$. Job done.

##### Quick challenge: 

Any thoughts on what the connection between the gradient coefficient (coef_) and correlation (r) are? DON’T CHEAT ;)
##### Answer: 

If you standardize your data the correlation is the gradient coefficient. The closer that line is to 1 (or -1) the stronger the link!

Just to prove the above (and to show you how to standardize your data - which is vital for distance measure based predictors) add the following lines before you created your linear model:

In [0]:
from sklearn import preprocessing
X_scaled = preprocessing.scale(X)
Y_scaled = preprocessing.scale(Y.astype(float))

Sklearn gives us a special set of functions to do this sort of thing. By default scale() will standardize your data (i.e. mean centre the data and divide through by its variance), making all data “measure-less”. This means we can use it more readily in anything that compares distances, and all the datapoints are now comparable on any feature…. whatever the scale it originally used. 

**Re-run your LinearRegression fitting using X_scaled and Y_scaled this time, and confirm that the correlation you calculated via numpy is the same as the linear regression gradient coefficient!**

[[0.38426588]] [-4.92354439e-16]

### Bonus Step - Want to practice your lists a bit more?

Try to compute the median value of GPA ***without*** using the **median()** method of **Pandas or Numpy**.

The median GPA is 3.31
The median GRE is 800